div {
    display: inline-block;
    margin: 5px;
}

.card {
    background: white;
    border-radius: 4px;
    width: 300px;
    height: 300px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16), 0px 2px 10px rgba(0, 0, 0, 0.12);
}

.card-two, .card-three {
    background: white;
    border-radius: 4px;
    width: 300px;
    height: 200px;
    position: relative;
}

body {
    background-color: #eee;
}

.card-two::before, .card-two::after {
    content: " ";
    width: 30%;
    height: 10px;
    top: 93%;
    left: 69%;
    transform: rotate(5deg);
    background-color: transparent;
    z-index: -1;
    position: absolute;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.3);
}

.card-two::before {
    left: 1%;
    transform: rotate(-5deg);
}

.card-three::before {
    content: " ";
    width: 30%;
    height: 10px;
    top: 93%;
    left: 69%;
    transform: rotate(5deg);
    background-color: transparent;
    z-index: -1;
    position: absolute;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.3);
}

.card-three::before {
    left: 1%;
    transform: rotate(-5deg);
}